body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

#display-section {
  /* margin: 0 auto; */
  margin-top: 3rem;
  margin-left: 10rem;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  /* min-height: 100vh; */
  /* align-items: center; */
  display: flex;
  /* justify-content: center; */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  /* color: #333; */
  font-size: 2.5rem;
  width: 17rem;
}

input {
  width: 50rem;
  padding: 0.75rem;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 1.5rem;
  box-sizing: border-box;
}

#submit-button {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem 4rem;
  background-color: rgb(200, 200, 200);
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #0056b3;
}

/* button {
  background: rgb(200, 200, 200);
  color: inherit;
  border: none;
  padding: 0.5rem 2rem;
  font: inherit;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
} */

/* for error pages */
h3 {
  margin-top: 3rem;
  padding: 0;
  text-align: center;
  font-size: 3rem;
}
